body {
  margin: 0;
  background: #E67C20;
  overflow-x: hidden;

}

strong {
  color: #3884FF;
  font-weight: 800;
}



#bottle-anim{

    animation: 5s ease-in-out bottle infinite;
    transition: 1s eas;
    position: relative;
    transform-origin: bottom;


}

@keyframes bottle {



  0%{
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;


    fill: #3884FF;

    

  }

  50%{

    stroke-dasharray: 200;
    stroke-dashoffset: 1000;


    fill: transparent;
  

  }



  100%{

    stroke-dasharray: 500;
    stroke-dashoffset: 1000;



    fill: #3884FF;
      

    

      
  
    }
  
}