body {
  margin: 0;
  background: #36B9C5;
  overflow-x: hidden;

}

strong {
  color: #3884FF;
  font-weight: 800;
}

.white {
  color:white;
}

/*Jeans Animations*/

#jeans-anim{

    animation: 5s ease-in-out jeans infinite;
    transition: 1s eas;
    position: relative;
    transform-origin: bottom;

    


}

@keyframes jeans {



  0%{
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;


    fill: #3884FF;

    

  }

  50%{

    stroke-dasharray: 200;
    stroke-dashoffset: 1000;


    fill: transparent;
  

  }



  100%{

    stroke-dasharray: 500;
    stroke-dashoffset: 1000;



    fill: #3884FF;
      

    

      
  
    }
  
}

/*Pesticide Animations*/
#all{
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from{
    -webkit-transform: rotate(0deg);
  }
  50%{
    -webkit-transform: rotate(30deg);
  }
  to{
    -webkit-transform: rotate(0deg);
  }
}



#can{

  animation: 5s ease-in-out Pesticide infinite;
  transition: 1s eas;
  position: relative;
  transform-origin: bottom;

  


}

@keyframes  Pesticide{



0%{
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;


  fill: #51B27E

  

}

50%{

  stroke-dasharray: 200;
  stroke-dashoffset: 1000;


  fill: transparent;


}



100%{

  stroke-dasharray: 500;
  stroke-dashoffset: 1000;



  fill: #51B27E;
    

  

    

  }

}

.spray{

  animation: 5s ease-in-out Pesticide infinite;
  transition: 1s eas;
  position: relative;
  transform-origin: bottom;

  


}



/*Waves Animations*/
/*Cotton Animations*/
/*Truck Animations*/
/*Factory Animations*/