body {
  margin: 0;
  background: #36B9C5;
  overflow-x: hidden;

}

strong {
  color: #3884FF;
  font-weight: 800;
}

.white {
  color:white;
}



#jeans-anim{

    animation: 5s ease-in-out jeans infinite;
    transition: 1s eas;
    position: relative;
    transform-origin: bottom;

    


}

@keyframes jeans {



  0%{
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;


    fill: #3884FF;

    

  }

  50%{

    stroke-dasharray: 200;
    stroke-dashoffset: 1000;


    fill: transparent;
  

  }



  100%{

    stroke-dasharray: 500;
    stroke-dashoffset: 1000;



    fill: #3884FF;
      

    

      
  
    }
  
}

#can{

  animation: 5s ease-in-out jeans infinite;
  transition: 1s eas;
  position: relative;
  transform-origin: bottom;

  


}

@keyframes  {



0%{
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;


  fill: #3884FF;

  

}

50%{

  stroke-dasharray: 200;
  stroke-dashoffset: 1000;


  fill: transparent;


}



100%{

  stroke-dasharray: 500;
  stroke-dashoffset: 1000;



  fill: #3884FF;
    

  

    

  }

}
