html, body{
    margin: 0; 
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;
    justify-content: space-between;


}

#logo{

 
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 10vh;
 
}

#earth{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    top: -5vh;


}

#earthContainer{
  

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}


#blueText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;


}

#earth{
    width: 175px;

}
  


#quiz{
    color: white;
    background-color: #51B27E;

    width:300px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px grey;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    margin-bottom: 10vh;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}
  

#greenButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 5vh;

}