body {
  margin: 0;
  background: #51B27E;

}

strong {
  color: #3884FF;
  font-weight: 800;
}



#bamboo-anim{

    animation: 10s ease-in-out bamboo infinite;
    transition: 1s ease;



}

@keyframes bamboo {



  0%{

    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
  

  }


  50%{

    stroke-dasharray: 100;

    stroke-dashoffset: 500;

  }


 

  100%{

    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
    
  
    }
  
}