body {
  margin: 0;
  overflow-x: hidden;
}

.content{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-family: 'Open Sans', sans-serif;
  animation: 0.5s ease-in-out forwards;
  position: relative;
  top: 0px;
  width: 80vw;

}

.animation-container {
  width: 100vw;
  height: 100vh;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  animation: 0.5s ease-in-out forwards;
  position: relative;
  transform: translateX(-100vw);
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  top: 100px;

 
  
}

.scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question{
  display: flex;
  justify-content: center;
  align-items: center;


}

.header{
 
  display: flex;
  justify-content: center;

}

.logo{
  display: flex;
  align-items: center;
  justify-content: left;
  height: 20vh;
  position: relative;
  width: 80vw;
  position: absolute;

  

}

.logo-in{
  position: absolute;
  left: 20px;
  top: 56px;


}

.logo-out{
  position: absolute;
  animation: 5s rotate infinite linear;
  
  top: 36px;

}

@keyframes rotate {

  from {
    transform: rotate(0);
    
  }
  to {
    transform: rotate(-360deg);
 
  }




}



@keyframes animate1 {
  from {
    transform: translateX(-100vw);
    
  }
  to {
    transform: translateX(0vw);
 
  }
}

@keyframes animate1-2 {
  from {
    
    
  }
  to {
    transform: translateX(0vw);
    
  }
}

@keyframes animate1-3 {
  from {
    transform: translateX(100vw);
    
    
  }
  to {
    transform: translateX(0vw);
    
  }
}

@keyframes animate2 {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}



@keyframes animate3 {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes animate4 {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes animate5 {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes animate6 {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}