body {
  margin: 0;
  background: #AF75BD;
  overflow-x: hidden;

}

strong {
  color: #3884FF;
  font-weight: 800;
}



#water-resist-anim{

    animation: 2s ease-in-out water-resist infinite;
    transition: 1s ease;



}

#left-bone{
  animation: 2s ease left-bone infinite;
  transition: 1.5s ease;
}

#right-bone{
  animation: 2s ease left-bone infinite;
  transition: 1.5s ease;
}

@keyframes water-resist {



  0%{

    transform: translatex(100px);
    opacity: 0;


  }

  50%{

    transform: translateY(0px);
    opacity: 100;

  }


 

  100%{

    transform: translate(0px);
    opacity: 0;

      
      
  
    }
  
}

@keyframes left-bone {



  0%{

    opacity: 0;


  }


  100%{


    opacity: 1;

    }
  
}

#water-resist-anim-2{

  animation: 2s ease-in-out water-resist-2 infinite;
  transition: 2s ease;



}

@keyframes water-resist-2 {



  0%{

    transform: translatex(-100px);
    opacity: 0;
    

  }

  50%{

    transform: translateY(0px);
    opacity: 100;
  }


  80%{
   
  }
 

  100%{

    transform: translate(0px);
    opacity: 0;
  

    }

}